body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 30px;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;

}

.trainingSession {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.setsQueue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

span {
  margin-left: 20px;
  margin-right: 20px;
}

.countButton {
  margin-top: 10px;
  border-radius: 50%;
  padding: 60px;
  font-size: 500%;
}